@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&display=swap");

:root {
    --color-primary: #ffffff;
    --color-primary-dark: #000000;

    --color-text-menu: #a2a2a4;
    --color-hover: #dea28d;

    --color-gray-1: #f5f5f5;
    --color-gray-2: #fafafa;

    --font-main: "M PLUS Rounded 1c";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-weight: 400;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-primary);
    color: var(--color-primary-dark);
}
